@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:wght@600&display=swap');

@font-face {
    font-family: Avenir Next;
    src: url(AvenirNextLTPro-Regular.otf);
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.header {
    background-color: #2C3131;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-size: 56px;
}

.container {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.button-a {
    margin: 15px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    font-family: 'ABeeZee', sans-serif;
    line-height: 28px;
    transition: 0.5s;
    cursor: pointer;
}

.button-a--1 {
    background-color: #017187;
    border-color: #017187;
    color: #FFFFFF;
}

.button-a--1-disabled {
    background-color: #E9E9E9;
    border-color: #CACACA;
    color: #A9A9A9;
    cursor: not-allowed;
}

.button-a--1:hover {
    background-color: #67AAB7;
    border-color: #67AAB7;
}

.button-a--2 {
    background-color: transparent;
    border-color: #017187;
    color: #017187;
}

.button-a--2-disabled {
    background-color: transparent;
    border-color: #CACACA;
    color: #A9A9A9;
    cursor: not-allowed;
}


.button-a--2:hover {
    background-color: transparent;
    border-color: #67AAB7;
    color: #67AAB7;
}

.button-b {
    margin: 15px;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Inter', sans-serif;
    line-height: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.button-b--1 {
    background-color: #F43F5E;
    border-color: #F43F5E;
    color: #FFFFFF;
}

.button-b--1-disabled {
    background-color: #E5E7EB;
    border-color: #E5E7EB;
    color: #9CA3AF;
    cursor: not-allowed;
}

.button-b--1:hover {
    background-color: #9F1239;
    border-color: #9F1239;
}

.button-b--2 {
    background-color: #0EA5E9;
    border-color: #0EA5E9;
    color: #FFFFFF;
}

.button-b--2-disabled {
    background-color: #E5E7EB;
    border-color: #E5E7EB;
    color: #9CA3AF;
    cursor: not-allowed;
}

.button-b--2:hover {
    background-color: #075985;
    border-color: #075985;
}

.button-b--3 {
    background-color: transparent;
    border-color: #F43F5E;
    color: #F43F5E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-b--3-disabled {
    background-color: transparent;
    border-color: #E5E7EB;
    color: #E5E7EB;
    cursor: not-allowed;
}

.button-b--3:hover {
    background-color: transparent;
    border-color: #9F1239;
    color: #9F1239;
    box-shadow: 0 0 0 4px #FDA4AF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-b--4 {
    background-color: transparent;
    border-color: #0EA5E9;
    color: #0EA5E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-b--4-disabled {
    background-color: transparent;
    border-color: #E5E7EB;
    color: #E5E7EB;
    cursor: not-allowed;
}

.button-b--4:hover {
    background-color: transparent;
    border-color: #075985;
    color: #075985;
    box-shadow: 0 0 0 4px #7DD3FC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.button-c {
    margin: 15px;
    font-size: 21px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Avenir Next;
    font-weight: 700;
    font-weight: bold;
    line-height: 28px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #FFD159;
    border-color: #FFD159;
    color: #FFFFFF;
}

.button-c--disabled {
    background-color: #F1EBF5;
    border-color: #F1EBF5;
    color: #AEA8B2;
    cursor: not-allowed;
}

.button-c:hover {
    background-color: #FFFFFF;
    border-color: #FFD159;
    color: #FFD159;
}








.toast {
    background-color: #404040;
    border-radius: 4px;
    border: 1px solid #404040;
    padding: 12px 16px 12px 16px;
    position: relative;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    color: #FFFFFF;
}

.toast__close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFFFFF;
}

.toast__close svg {
    fill: currentColor;
}

.toast2 {
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    position: relative;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    color: #1FC24E;
    font-family: 'Lato';
    border: 1px solid #F1F1F1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.toast2__close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFFFFF;
}

.toast2__close svg {
    fill: #9D9D9D;
}



* {
    box-sizing: border-box
}
